<footer class="footer">
<div class="innerBlock clearfix">
  <div class="siteLogo">
  <a href="/"><img src="//fukuda.com/wp-content/themes/fukudafw/assets/images/common/logo-fukuda-white.svg" alt=""></a>
  </div>
  <!-- /.siteLogo -->

  <div class="footerNavs pc">
  <p class="widget-title">Products</p><div class="menu-products-category-list-footer-1-container"><ul id="menu-products-category-list-footer-1" class="menu"><li id="menu-item-9872" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9872"><a href="//fukuda.com/products_category/new-product/">New Product</a></li>
<li id="menu-item-9882" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-has-children menu-item-9882"><a href="//fukuda.com/products_category/cardiology/">Cardiology</a>
<ul class="sub-menu">
  <li id="menu-item-9892" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9892"><a href="//fukuda.com/products_category/resting-ecg/">Resting ECG</a></li>
  <li id="menu-item-9902" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9902"><a href="//fukuda.com/products_category/data-management-software/">Data Management Software</a></li>
  <li id="menu-item-9912" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9912"><a href="//fukuda.com/products_category/stress-test/">Stress Test</a></li>
  <li id="menu-item-9922" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9922"><a href="//fukuda.com/products_category/holter/">Holter</a></li>
</ul>
</li>
<li id="menu-item-9932" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-has-children menu-item-9932"><a href="//fukuda.com/products_category/patient-monitoring/">Patient Monitoring</a>
<ul class="sub-menu">
  <li id="menu-item-9942" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9942"><a href="//fukuda.com/products_category/central-monitor/">Central Monitor</a></li>
  <li id="menu-item-9952" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9952"><a href="//fukuda.com/products_category/bedside-monitor/">Bedside Monitor</a></li>
  <li id="menu-item-9962" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9962"><a href="//fukuda.com/products_category/transmitter/">Transmitter</a></li>
  <li id="menu-item-9972" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9972"><a href="//fukuda.com/products_category/remote-reviewing-system/">Remote Reviewing System</a></li>
  <li id="menu-item-9982" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-9982"><a href="//fukuda.com/products_category/defibrillator/">Defibrillator</a></li>
</ul>
</li>
<li id="menu-item-9992" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-has-children menu-item-9992"><a href="//fukuda.com/products_category/vascular-screening/">Vascular Screening</a>
<ul class="sub-menu">
  <li id="menu-item-10002" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-10002"><a href="//fukuda.com/products_category/data-management-software-02/">Data Management Software</a></li>
</ul>
</li>
<li id="menu-item-10012" class="menu-item menu-item-type-taxonomy menu-item-object-products_category menu-item-10012"><a href="//fukuda.com/products_category/ultrasound/">Ultrasound</a></li>
</ul></div>  <span><a href="/products/">See All Products</a></span>
  </div>
  <!-- /.footerNavs -->

  <div class="footerNavs pc">
  <p class="widget-title">Company</p><div class="menu-page-list-footer-2-container"><ul id="menu-page-list-footer-2" class="menu"><li id="menu-item-12162" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12162"><a href="//fukuda.com/news/">News</a></li>
<li id="menu-item-10032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10032"><a href="//fukuda.com/events/">Events</a></li>
<li id="menu-item-13352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-13352"><a href="//fukuda.com/about/">About Us</a>
<ul class="sub-menu">
  <li id="menu-item-10142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10142"><a href="//fukuda.com/about/vision-and-mission/">Vision and Mission</a></li>
  <li id="menu-item-12092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12092"><a href="//fukuda.com/about/ecg-story/">ECG Story</a></li>
  <li id="menu-item-10082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10082"><a href="//fukuda.com/about/our-history/">Our History</a></li>
  <li id="menu-item-10102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10102"><a href="//fukuda.com/about/quality-management/">Quality Management</a></li>
  <li id="menu-item-10092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10092"><a href="//fukuda.com/about/production-systems/">Production Systems</a></li>
  <li id="menu-item-10112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10112"><a href="//fukuda.com/about/research-development/">R&#038;D</a></li>
</ul>
</li>
<li id="menu-item-14762" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14762"><a href="//fukuda.com/ir/">Investor Relations</a>
<ul class="sub-menu">
  <li id="menu-item-10052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10052"><a href="//fukuda.com/ir/ceo-message/">CEO Message</a></li>
  <li id="menu-item-10072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10072"><a href="//fukuda.com/ir/analysis-of-operation-results/">Performance Analysis</a></li>
  <li id="menu-item-10062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10062"><a href="//fukuda.com/ir/financial-highlights/">Financial Highlights</a></li>
  <li id="menu-item-12122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12122"><a href="//fukuda.com/ir/financial-reports/">Financial Reports</a></li>
  <li id="menu-item-12362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12362"><a href="//fukuda.com/ir/ir-calendar/">IR Calendar</a></li>
</ul>
</li>
<li id="menu-item-14772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14772"><a href="//fukuda.com/legal/">Legal</a>
<ul class="sub-menu">
  <li id="menu-item-12242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12242"><a href="//fukuda.com/legal/terms-of-use/">Terms of Use</a></li>
  <li id="menu-item-12292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12292"><a href="//fukuda.com/legal/privacy-policy/">Privacy Policy</a></li>
  <li id="menu-item-12232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12232"><a href="//fukuda.com/legal/cookie-information/">Cookie Information</a></li>
</ul>
</li>
</ul></div>  </div>
  <!-- /.footerNavs -->

  <div class="footerNavs contactNavs pc">
  <p class="widget-title">Contact</p>     <div class="textwidget"><span>
Fukuda Denshi Co., Ltd. 2-35-8 Hongo, Bunkyo-ku, Tokyo, 113-8420, Japan
</span>
<span><a href="/contact/">Contact Us</a></span>
<span><a href="/global-offices/">See all our offices</a></span></div>
      </div>
  <!-- /.footerNavs -->

  <div class="footerNavs sp">
    <p><a href="/products/">Products</a></p>
    <p><a href="">Company</a></p>
    <p><a href="/contact/">Contact</a></p>
  </div>
  <!-- /.footerNavs -->

</div>
<!-- /.innerBlock -->

<div class="copyright innerBlock"><span>Copyright FUKUDA DENSHI All Rights Reserved.</span></div>

</footer>
<!-- /.footer -->