<!-- /.drawerSpNav -->
<div class="mainBannerWrapper" style="background-image: url(/assets/images/ticket/FD-CO-Ticket_Submission_Banner-PC.png);">
<div class="mainBannerWrapper-inner" style="background-image: url(/assets/images/ticket/FD-CO-Ticket_Submission_Banner-MB.png);">
  </div>
</div>
<!-- /.mainBannerWrapper -->


<div class="content clearfix">

<article class="article">
	<div class="block-frame ticketform-container ticketform-container-complete">
	  <h2 class="item-title subTitle">Ticket successfully submitted</h2>
	  <div class="btnArea">
	  	<%= link_to 'HOME', :dp_root, {class: 'btn-gray-large'} %>
	  	<%= link_to 'See All Tickets', :dp_tickets, {class: 'btn-blue-large'} %>
	  </div>
	</div>
	<!-- /.ticketform-container -->

</article>


</div>
<!-- /.content -->
